body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centraliza o conteúdo verticalmente */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    flex: 1;  /* Faz a container ocupar o máximo de altura disponível */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza os itens dentro da container */
    align-items: center;
}

img {
    width: 20rem;
    height: 20rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #0a448c;
}

.btn {
    padding: .8rem 1.2rem;
    font-size: 2.1rem;
    margin: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: #e5222a;
    color: white;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
}

/* Estilo do rodapé */
footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    font-size: .9rem;
    position: absolute;  /* Faz o rodapé ser posicionado no final */
    bottom: 0;  /* Coloca o rodapé no fundo da página */
}
